@{
    ViewBag.Title = "Permissions";
}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            @using (Ajax.BeginForm("GetData", "ControlPermissions", null, new AjaxOptions
            {
                AllowCache = false,
                HttpMethod = "POST",
                InsertionMode = InsertionMode.ReplaceWith,
                OnBegin = "GettingDataStarted",
                OnComplete = "GettingDataCompleted",
                OnFailure = "GettingDataFailed",
                UpdateTargetId = "mainTable"
            }))
            {
                @Html.DropDownList("id", (ViewBag.Users as SelectList), new { @class = "form-control", id = "ddlUser" })
            }
        </div>
    </div>
    <br />
    <div id="mainTable"></div>
</div>
@section scripts{
    <script>
        var table;
        $.LoadingOverlay("show", {
            fade: [500, 500],
            image: "",
            fontawesome: "fa fa-spinner fa-spin"
        });
        function GettingDataStarted() {
            $.LoadingOverlay("show", {
                fade: [500, 500],
                image: "",
                fontawesome: "fa fa-spinner fa-spin"
            });
        }
        function GettingDataCompleted() {
            if (table) {
                table.destroy();
            }
            table = $("#table").DataTable({ "aaSorting": [] });
            $.LoadingOverlay("hide");
            var dataToBeSent = {};
            $("#btnSave").on("click", (e) => {
                $.LoadingOverlay("show", {
                    fade: [500, 500],
                    image: "",
                    fontawesome: "fa fa-spinner fa-spin"
                });
                dataToBeSent.UserId = $("#ddlUser").val();
                dataToBeSent.PermissionsData = [];
                for (var i = 0; i < table.$("tr").length; i++) {
                    var Temp = {};
                    Temp.ContentId = $(table.$("tr")[i]).attr("id");
                    var Permissions = [];
                    for (var j = 0; j < $(table.$("tr")[i]).find("input").length; j++) {
                        if (($(table.$("tr")[i]).find("input")[j]).checked == true) {
                            Permissions.push(parseInt(($(table.$("tr")[i]).find("input")[j]).id));
                        }
                    }
                    Temp.Permissions = Permissions;
                    dataToBeSent.PermissionsData.push(Temp);
                }
                $.ajax({
                    url: '@Url.Action("SaveData", "ControlPermissions")',
                    cashe: false,
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ "dataToBeSent": dataToBeSent }),
                    success: (data) => {
                        if (data == true) {
                            $.LoadingOverlay("hide");
                            $.notify({
                                message: "Data Saved Successfully .."
                            }, {
                                type: "success"
                            });
                        }
                        else {
                            $.LoadingOverlay("hide");
                            $.notify({
                                message: "Error Occured .. Reload Page and Try Again !!"
                            }, {
                                type: "danger"
                            });
                        }
                    },
                    error: (e, ee, eee) => {
                        $.LoadingOverlay("hide");
                        $.notify({
                            message: "Error Occured .. Reload Page and Try Again !!"
                        }, {
                            type: "danger"
                        });
                    }
                });
            });
        }
        function GettingDataFailed() {
            $.LoadingOverlay("hide");
            $.notify({
                message: 'Error Occured !! Please Reload Page and Try Again ..'
            }, { type: 'danger' });
        }
        $(function () {
            $.LoadingOverlay("hide");
            $("#ddlUser").on("change", (e) => {
                if ($("#ddlUser").val() != 0) {
                    $("form").submit();
                }
            });
        });
    </script>
}
