@model FileManager.Models.FileViewModel
@{
    ViewBag.Title = "Files";
}
<link href="~/Content/elfinder/css/elfinder.min.css" rel="stylesheet" />
<link href="~/Content/elfinder/css/theme.css" rel="stylesheet" />
<div id="elfinder"></div>
